{{ define "base" -}}
One-Time Access
====================

Click the link below to sign in to {{ .AppName }} with a one-time access link. This link expires in 15 minutes.

{{ .Data.Link }}
{{ end -}}
